extends ../layouts/layout

include ../mixins/artwork
include ../mixins/snippet

block intro
  h3
    +snippet('artists-title')


block content
  .page
    .flexbox
      if artists.length
        .list-container: .scrollpane.top: .scrollpane-content
          ul.artists-list
            each artist in artists
              li.artist-link(
                data-ks-editable=editable(user, {list: 'Artist', id: artist.id}),
                style="width: 100%;",
                onmouseenter="artistLinkMouseover(this)",
                onmouseleave="artistLinkMouseout(this)",
                artist= artist.slug
              )
                a(keep-lang,
                  href='/artist/' + artist.slug,
                )
                  - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
                  | #{name.first + ' ' + name.last}
        .picture-container
          //- img.artist-preview
          each artist in artists
            .preview(artist= artist.slug)
              if (artist.selectedWork)
                +artwork(artist.selectedWork)
              unless artist.selectedWork
                if (artist.thumbnail)
                  .artwork
                    img.modal-image(src= artist._.thumbnail.limit(2048, 2048))
          

block js
  script(src='/js/artists.js')