extends ../layouts/layout

block intro
  div
    //- h2 Artists


block content
  .page
    .flexbox
      if artists.length
        .list-container: .scrollpane: .scrollpane-content
          ul.artists-list
            each artist in artists
              li.artist-link(
                data-ks-editable=editable(user, {list: 'Artist', id: artist.id}),
                style="width: 100%;",
                onmouseenter="artistLinkMouseover(this)",
                onmouseleave="artistLinkMouseout(this)",
                thumbnail-src= artist._.picture.fit(300, 300)
              )
                a(keep-lang,
                  href='/artist/' + artist.slug,
                )
                  - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
                  | #{name.first + ' ' + name.last}
        .picture-container
          img.artist-preview

block js
  script(src='/js/artists.js')