extends ../layouts/layout

include ../mixins/exhibition
include ../mixins/masonry

mixin sidemenu-link(id, snippetSlug)
  -var ts = snippets[snippetSlug] || snippetSlug
  a(onclick= "openTab(this)", select=id
    snippet-editable= snippetEditable(user, ts, lang)
  )!= ts.content ? ts.content[lang] || ts.content.english : ts

block intro
  if artist
    div(
      data-ks-editable=editable(user, {list: 'Artist', id: artist.id}),
      style= "width: 100%; height: 100%;"
    )
      - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
      h2= name.first + ' ' + name.last
    
block tabbar
  ul.tabs
    li.active
      +sidemenu-link('#works', 'artist-works')
    li
      +sidemenu-link('#biography', 'artist-biography')
    li
      +sidemenu-link('#exhibitions', 'artist-exhibitions')

block content
  .page
    if artist
      #works.tab.active.wide.limit-width: .scrollpane: .scrollpane-content
        +series-masonry(artist.series, artist.loneWorks, artist)
      #biography.tab.limit-width
        .flexbox.responsive
          .golden-ratio-2
            .scrollpane.top(style="max-width: 720px;"): .scrollpane-content
              div(
                data-editable= inlineEditable(user, {
                  list: 'artists',
                  path: 'biography.' + (lang || 'english'),
                  data: JSON.stringify(artist)  
                })
              )!= artist.biography[lang] || artist.biography.english
          .golden-ratio-1.narrow
            .scrollpane.large-only(style="max-width: 600px; float: right;"): .scrollpane-content
              +works-masonry(artist.works, null, artist)
            //- .flexbox(style="width: auto;")
              +slideshow
      #exhibitions.tab.limit-width
        .scrollpane: .scrollpane-content
          if artist.exhibitions && artist.exhibitions.length
            ul.exhibitions-list
              each exhibition, index in artist.exhibitions
                if index % 2 == 0
                  .row
                    .col-sm-12.col-md-6.col-lg-6.left
                      +exhibition(exhibition)
                    .col-sm-12.col-md-6.col-lg-6.right
                      +exhibition(artist.exhibitions[index+1])
            //- ul.exhibitions-list
              each exhibition in artist.exhibitions
                +exhibition(exhibition)
          else
            h5 No exhibitions found
  //- else
  //-   p= JSON.stringify(artist)



block js
  script(src='/js/tabs.js')
  script(src='/js/masonry.js')
  script(src='/js/artist.js')
