extends ../layouts/layout

include ../mixins/exhibition
include ../mixins/masonry

block intro
  div(
    data-ks-editable=editable(user, {list: 'Artist', id: artist.id}),
    style= "width: 100%; height: 100%;"
  )
    - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
    h2= name.first + ' ' + name.last
    
block tabbar
  ul.tabs
    li.active: a(onclick='openTab(this)' select='#works')= lang=='chinese' ? 'Works' : 'Works'
    li: a(onclick='openTab(this)' select='#biography')= lang == 'chinese' ? 'Biography' : 'Biography'
    li: a(onclick='openTab(this)' select='#exhibitions')= lang == 'chinese' ? 'Exhibitions' : 'Exhibitions'

block content
  .page
    if artist
      #works.tab.active.wide: .scrollpane: .scrollpane-content
        +works-masonry(artist.works)
        //- .grid
          each work in artist.works
            .grid-item
              .gallery-image
                img(src=work._.image.limit(640,640))
      #biography.tab
        .flexbox.responsive
          .golden-ratio-2
            .scrollpane.top(style="max-width: 600px;"): .scrollpane-content!= artist.biography[lang] || artist.biography.english
              //- .scrollpane-horizontal.small-only: .scrollpane-content
                +works-masonry(artist.works, true)
          .golden-ratio-1.narrow
            .scrollpane.large-only(style="max-width: 400px; float: right;"): .scrollpane-content
              +works-masonry(artist.works)
            //- .flexbox(style="width: auto;")
              +slideshow
      #exhibihref='#' onclick='openTab(this)' select='#exhibitions')= lang == 'chinese' ? 'Exhibitions' : 'Exhibitions'

block content
  .page
    if artist
      #works.tab.active.wide: .scrollpane: .scrollpane-content
        +works-masonry(artist.works)
        //- .grid
          each work in artist.works
            .grid-item
              .gallery-image
                img(src=work._.image.limit(640,640))
      #biography.tab
        .flexbox.responsive
          .golden-ratio-2
            .scrollpane.top(style="max-width: 600px;"): .scrollpane-content!= artist.biography[lang] || artist.biography.english
              //- .scrollpane-horizontal.small-only: .scrollpane-content
                +works-masonry(artist.works, true)
          .golden-ratio-1.narrow
            .scrollpane.large-only(style="max-width: 400px; float: right;"): .scrollpane-content
              +works-masonry(artist.works)
            //- .flexbox(style="width: auto;")
              +slideshow
      #exhibitions.tab
        if exhibitions && exhibitions.length
          ul.exhibitions-list
            each exhibition in exhibitions
              +exhibition(exhibition)
        else
          h5 No exhibitions found
  //- else
  //-   p= JSON.stringify(artist)



block js
  script(src='/js/tabs.js')
  script(src='/js/artist.js')
  script(src='/js/masonry.js')
