extends ../layouts/layout

mixin post(post)
  .post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
    .row
      .col-sm-4.col-md-6.col-lg-6
        if post.image.exists
          img(src=post._.image.limit(1024,640)).post-img
      .col-sm-8.col-md-6.col-lg-4
        h2.post-title: a(keep-lang href='/blog/post/' + post.slug)= post.title[lang] || post.title.english
        div(
          data-editable= inlineEditable(user, {
            list: 'posts',
            path: `content.${lang || 'english'}.brief`
          })
        ).post-content!= (post.content[lang] || post.content.english).brief
        if (post.content[lang] || post.content.english).extended
          p.read-more: a(keep-lang href='/blog/post/' + post.slug)= lang == 'chinese' ? '' : 'Read more...'
    .row: .col-sm-12.col-md-12.col-lg-10(style="border-bottom: 1px solid #bbb; padding-top: 48px;")

block intro
  h2= data.category ? (data.category.name[lang] || data.category.name.english)  : 'Blog'

block content
  .page: .scrollpane: .scrollpane-content: .row
    if filters.category && !data.category
      h3.text-muted= lang == 'chinese' ? 'Invalid Category.' : 'Invalid Category.'
    else
      if data.posts.results.length
        if data.posts.totalPages > 1
          h4.text-weight-normal Showing 
            strong #{data.posts.first}
            |  to 
            strong #{data.posts.last}
            |  of 
            strong #{data.posts.total}
            |  posts.
        else
          //- h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
          .blog
            each post in data.posts.results
              +post(post)
              
            if data.posts.totalPages > 1
              ul.pagination
                if data.posts.previous
                  li: a(keep-lang href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
                else
                  li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                each p, i in data.posts.pages
                  li(class=data.posts.currentPage == p ? 'active' : null)
                    a(keep-lang href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
                if data.posts.next
                  li: a(keep-lang href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
                else
                  li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
      else
        if data.category
          h3.text-muted 
            | #{lang == 'chinese' ? 'There are no posts in the category' : 'There are no posts in the category'} 
            | #{data.category.name[lang] || data.category.name.english}.
        else
          h3.text-muted #{lang == 'chinese' ? 'There are no posts yet.' : 'There are no posts yet.'}

//- if data.categories.length
    .col-sm-4.col-md-3
        h2 #{lang == 'chinese' ? 'Categories' : 'Categories'}
        .list-group(style='margin-top: 70px;')
            a(keep-lang href='/blog', class=!data.category ? 'active' : false).list-group-item 
                | #{lang == 'chinese' ? 'All Categories' : 'All Categories'}
            each cat in data.categories
                a(keep-lang href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name[lang] || cat.name.english
