extends ../layouts/layout

block intro
	//- h2 Contact Us
		
block content
	.page: .scrollpane: .scrollpane-content
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-8
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						if validationErrors.name
							label.danger= validationErrors.name.error
						else
							label Name
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						if validationErrors.email
							label.danger= validationErrors.email.error
						else
							label Email
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label Phone
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label What are you contacting us about?
						if validationErrors.enquiryType
							label.danger Please select one
						select(name='enquiryType').form-control
							option(value='') (select one)
							each t in enquiryTypes
								option(value=t.value, selected=formData.enquiryType == t.value)= t.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						if validationErrors.message
							label.danger= validationErrors.message.error
						else
							label Message
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-group(class=validationErrors.agree ? 'has-error' : null)
						input(type='checkbox', name='data-agree', value=false)
						label(class=validationErrors.agree ? 'danger' : '')
							| I have read and agree to our&nbsp;
							a(href='/texts/data-protection-agreement' target='_blank') data protection policy
							| .
					.form-actions
						button(type='submit').btn.btn-primary Send
