extends ../layouts/layout

mixin snippet(slug)
  -var ts = snippets[slug] || slug
  span(
      snippet-editable= snippetEditable(user, ts, lang)
  )!= ts.content ? ts.content[lang] || ts.content.english : ts

block intro
  h3
    +snippet('contact-titile')
        
block content
  .page: .scrollpane: .scrollpane-content
    if enquirySubmitted
      h3
        +snippet('contact-thanks')
        //- Thanks for getting in touch.
    else
      .row: .col-sm-12.col-md-10.col-lg-8
        form(method='post')
          input(type='hidden', name='action', value='contact')
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label(class= validationErrors.name ? danger : '')
              +snippet('contact-name')
            input(type='text', name='name.full', value=formData['name.full']).form-control
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label(class= validationErrors.email ? danger : '')
              +snippet('contact-email')
            input(type='email', name='email', value=formData.email).form-control
          .form-group
            label 
              +snippet('contact-phone')
            -var os = snippets['contact-optional']
            input(type='text', name='phone', value=formData.phone,
                placeholder= '(' + (os ? os.content[lang] || os.content.english : 'missing snippet: contact-optional') + ')'
            ).form-control
          .form-group(class=validationErrors.message ? 'has-error' : null)
            label(class= validationErrors.message ? danger : '')
              +snippet('contact-message')
            textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
          .form-group.check(class=validationErrors.agree ? 'has-error' : null)
            span(class=validationErrors.agree ? 'danger' : '')
              +snippet('data-policy-agree')
              | &nbsp;
              a(href='/texts/data-protection-agreement' target='_blank')
                +snippet('data-policy-name')
              | .
            .checkmark-container
              input(type='checkbox', name='data-agree', value=false)
              span.checkmark
          .form-group
            hr
          .form-actions
            button(type='submit').btn.btn-primary
              +snippet('contact-send')
