extends ../layouts/layout

include ../mixins/masonry

block intro
  if exhibition
    div(
      data-ks-editable=editable(user, {list: 'Exhibition', id: exhibition.id}),
      style= "width: 100%; height: 100%;"
    )
      h2(style="font-style:italic; font-weight: 100;")= exhibition.title[lang] || exhibition.title.english

block tabbar
  //- ul.tabs
   li.active
     a(onclick='scrollToSection(this)' select='#text')
   li
     a(onclick='scrollToSection(this)' select='#')
   li
     a(onclick='scrollToSection(this)' select='#')

block content
  if exhibition
    .page: .scrollpane#mainScrollpane: .scrollpane-content
      #heading: .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10
        ul.artist-links
          each artist in exhibition.artists
            li: a(keep-lang href= '/artist/' + artist.slug)
              - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
              | #{name.first + ' ' + name.last}
        if exhibition.date
          p
            | #{exhibition._.date.start.format('MMM Do YYYY')} #{lang == 'chinese' ? '' : 'to'}&nbsp;
            | #{exhibition._.date.end.format('MMM Do YYYY')}
            br
            | #{exhibition.location.location[lang] || exhibition.location.location.english}
      #cover-picture
        .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10
          img(
            src= exhibition.coverPicture.secure_url,
            style="width: 100%;",
          )
          br
          hr
      #text
        .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10
          div(
            data-editable= inlineEditable(user, {
              list: 'exhibitions',
              path: 'text.' + (lang || 'english'),
              data: JSON.stringify(exhibition)
            })
          )!= exhibition.text[lang] || exhibition.text.english
          hr
      #gallery
        .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10.no-padding-sm
          +masonry(exhibition.pictures)
          br
          hr
      if (exhibition.artworks && exhibition.artworks.length > 0)
        #artworks
          .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10.no-padding-sm
            +works-masonry(exhibition.artworks, false, null)
            br
            hr
  else
    h3 This exhibition could not be found.





block js
  script(src='/js/masonry.js')
  script(src='/js/exhibition.js')
