extends ../layouts/default

block content
  .front-slideshow
    if images && images.length > 0
      img.placeholder(src=images[0].image.url)
      each image, index in images
        img(
          src= image.image.url,
          class= index == 0 ? 'active' : '',
          title= image.title[lang] || image.title.english,
          caption= image.caption[lang] || image.caption.english,
          url= image.linkUrl,
          placement= image.textPlacement,
          color= image.textColor
        )
      .slideshow-title(
        class=images[0].textPlacement,
        class=images[0].textColor
      )
        h2.title
          a(href=images[0].linkUrl)=images[0].title[lang] || images[0].title.english
        h2.caption=images[0].caption[lang] || images[0].caption.english

block js
  script(src='/js/slideshow.js')