extends ../layouts/layout

block intro
  if data.post
    div(data-ks-editable=editable(user, { list: 'Post', id: data.post.id }))
      h2= data.post.title[lang] || data.post.title.english

block content
  if data.post
    .page: .scrollpane#mailScrollpane: .scrollpane-content
      if data.post.image.exists
        #cover-picture
          .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10
            img(src=data.post._.image.limit(2048,2048), style='width: 100%;')
            br
            hr
        #text
          .row.max-width-1200: .col-sm-12.col-md-12.col-lg-10
            div(
              style="position: relative;",
            )
              div(
                style="position: relative;",
                data-editable= inlineEditable(user, {
                  list: 'posts',
                  path: 'content.' + (lang || 'english') + '.extended',
                  data: JSON.stringify(data.post)
                })
              )!= (data.post.content[lang] || data.post.content.english).full
              hr


  else
    h3 This Post could not be found.
  //- .page: .scrollpane: .scrollpane-content: .row.max-width-1200: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    article
      //- p: a(href='/blog') &larr; back to the blog
      //- hr
      if !data.post
        h2 Invalid Post.
      else
        .post
          if data.post.image.exists
            .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
          
