a#logo(href="/")
  include ./logo.svg

#sidenav-toggle
  button(
    onclick="openNav()"
  )
    div
    div
    div

h5#sidenav-section!= section
    

#sidenav.sidenav
  a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
  //- each link in navLinks
    li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
  a(keep-lang href="/" class= section=='home' ? 'active' : '') 
    | #{lang == 'chinese' ? '主页' : 'Home'}
  a(keep-lang href="/artists" class= section=='artists' ? 'active' : '')
    | #{lang == 'chinese' ? '艺术家' : 'Artists'}
  a(keep-lang href="/exhibitions" class= section=='exhibitions' ? 'active' : '')
    | #{lang == 'chinese' ? '展览' : 'Exhibitions'}
  a(keep-lang href="/fairs" class= section=='fairs' ? 'active' : '') 
    | #{lang == 'chinese' ? '艺博会' : 'Fairs'}
  a(keep-lang href="/publications" class= section=='more' ? 'active' : '') 
    | #{lang == 'chinese' ? '出版物' : 'Publications'}
  a(keep-lang href="/blog" class= section=='about' ? 'active' : '')
    | #{lang == 'chinese' ? '新闻' : 'News'}
  a(keep-lang href="/about" class= section=='more' ? 'active' : '') 
    | #{lang == 'chinese' ? '关于' : 'About'}
  a(keep-lang href="/contact" class= section=='more' ? 'active' : '') 
    | #{lang == 'chinese' ? '联系' : 'Contact'}
  .language-select
    a(switch-lang="english" href="#")
      | English
    a(switch-lang="chinese" href="#")
      | 中文