mixin menu-link(href, section, slug)
  -var ts = snippets[slug] || slug
  a(keep-lang, href= href, class= section==section ? 'active' : '',
    snippet-editable= snippetEditable(user, ts, lang)
  )!= ts.content ? ts.content[lang] || ts.content.english : ts

#sidenav-toggle
  button(
    onclick="toggleNav()"
  )
    div
    div
    div

h5#sidenav-section!= section
    
#sidenav.sidenav
  //- a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
  //- each link in navLinks
    li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
  br
  .scrollpane(style='max-height: calc(100vh - 160px)'): .scrollpane-content
    +menu-link('/', 'home', 'menu-home')
    +menu-link('/artists', 'artists', 'menu-artists')
    +menu-link('/exhibitions', 'exhibitions', 'menu-exhibitions')
    +menu-link('/fairs', 'fairs', 'menu-fairs')
    +menu-link('/publications', 'publications', 'menu-publications')
    +menu-link('/blog/news', 'more', 'menu-news')
    +menu-link('/about', 'more', 'menu-about')
    +menu-link('/contact', 'more', 'menu-contact')
  //- each pc in postCategories
  //-   //- -var x = console.log(pc, lang)
  //-   a(keep-lang
  //-     href="/blog/"+(pc.name.english).toLowerCase(),
  //-     class= section=='about' ? 'active' : '',
  //-     data-ks-editable=editable(user, {list: 'PostCategory', id: pc.id, path: '/'})
  //-   )= pc.name[lang] || pc.name.english
  //-     //- | #{lang == 'chinese' ? '新闻' : 'News'}
  .language-select
    a(switch-lang="english" href="#" style= (lang == 'english' ? 'text-decoration: underline;' : '') )
      | En
    a(switch-lang="chinese" href="#" style= (lang == 'chinese' ? 'text-decoration: underline;' : ''))
      | 中文