mixin artwork(w)
  .artwork
    img.modal-image(
      src=w._.image.limit(640, 640),
      caption= w.caption
    )
    .middle 
      h3= w.title
      p= w.year
      p= w.description
      p= w.dimensions