mixin artwork-description(w, artist) 
  if w
    p
      if artist 
        - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
        a(href='/artist/' + artist.slug)  #{name.first + ' ' + name.last}
        br
      | #{w.title[lang] || w.title.english}#{w.year ? ", " : ''}#{w.year}
      br
      if w.series && (w.series[lang] || w.series.engish)
        | #{w.series[lang] || w.series.english}
        br
      if w.description && (w.description[lang] || w.description.english)
        | #{w.description[lang] || w.description.english}
        br
      if w.dimensions
        | #{w.dimensions}

mixin artwork(w, artist)
  if w
    .artwork(
      data-ks-editable=editable(user, {list: 'Artwork', id: w.id, path: '/'})
      data-image-upload= inlineImageUpload(user, {
        list: 'artworks',
        path: 'image',
        data: JSON.stringify(w)
      })
    )
      if w.image && w.image.url
        img.modal-image(
          src= w._.image.limit(2048, 2048)
          caption= w.caption(lang, artist)
        )
      unless w.image && w.image.url 
        if user
          h3(style="color:red; padding-top: 32px; padding-bottom: 32px;") Image missing!
      .middle 
        +artwork-description(w, artist)
      //- if artist && artist.name && false
        a.artistLink(href="/artist/" + artist.slug)
          - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
          | More about #{name.first + ' ' + name.last}

mixin series(series, ws, artist)
  -var x = console.log(series)
  -var y = console.log(ws)
  if series && ws
    .artwork.artwork-series(
      data-ks-editable=editable(user, {list: 'ArtworkSeries', id: series.id, path: '/'})
    )
      if ws[0] && ws[0].image && ws[0].image.secure_url
        img.modal-image(
          src= ws[0]._.image.limit(2048, 2048)
          caption= series.title[lang] || series.title.english
        )
      .middle
        p= series.title[lang] || series.title.english
