mixin artwork(w)
  .artwork(data-ks-editable=editable(user, {list: 'Artwork', id: w.id}))
    img.modal-image(
      src=w._.image.limit(640, 640),
      caption= w.caption(lang)
    )
    .middle 
      h3= w.title[lang] || w.title.english
      p= w.year
      p= w.description[lang] || w.description.english
      p= w.dimensions