mixin exhibition(exhibition)
  if exhibition
    .exhibition-card(
      onclick= "window.location='/exhibition/" + exhibition.slug + "'",
      data-ks-editable=editable(user, {list: 'Exhibition', id: exhibition.id}),
      class= exhibition.location.location.english.toLowerCase()
    )
      if exhibition.coverPicture.exists
        img(src= exhibition._.coverPicture.limit(1024, 1024))
      .ex-description
        h3= exhibition.title[lang] || exhibition.title.english
        ul.artist-links
          if exhibition.artists && exhibition.artists.length == 1
            each artist in exhibition.artists
              li: a(keep-lang href= '/artist/' + artist.slug)
                - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
                | #{name.first + ' ' + name.last}
          else
            li: a(keep-lang href= '#') Group Exhibition
        if exhibition.date
          p
            | #{exhibition._.date.start.format('MMM Do YYYY')} #{lang == 'chinese' ? '' : 'to'}&nbsp;
            | #{exhibition._.date.end.format('MMM Do YYYY')},&nbsp;
            | #{exhibition.location.location[lang] || exhibition.location.location.english}
      //- hr(style="color: #bbb;")