mixin gallery-space(space)
  if space
    .gallery-space(data-ks-editable=editable(user, {list: 'GallerySpace', id: space.id}))
      h2= space.location[lang] || space.location.english
      hr
      if space.image
        img(src= space._.image.limit(640, 640))
      br
      div(style="position: relative;")
        .address(
          data-editable= inlineEditable(user, {
            list: 'gallery-spaces',
            path: 'address.' + (lang || 'english'),
            data: JSON.stringify(space)
          })
        )!= space.address[lang] || space.address.english
      p.phone= space.phone
      p.hours
        | #{lang == chinese ? '' : 'Opening Hours:'} <br/>
        | #{space.openingHours[lang] || space.address.english}
  else
