mixin publication(publication)
  if publication
    .publication-card-wrapper: .publication-card(
      data-ks-editable=editable(user, {list: 'Publication', id: publication.id})
    )
      if publication.cover
        img(
          src= publication._.cover.limit(320,320),
          style="width:100%",
          caption= publication.caption(lang)
        )
        .middle(onclick= "window.location.href='/publication/" + publication.slug + "'")
          h3= publication.title[lang] || publication.title.english
          p
          | #{publication.author[lang] || publication.author.english}
          br
          | #{publication.year}

