mixin publication(publication)
  if publication
    .publication-card-wrapper
      if publication.cover
        .middle(onclick= "window.location.href='/publication/" + publication.slug + "'"): .content
          h3= publication.title[lang] || publication.title.english
          p
            | #{publication.author[lang] || publication.author.english}
            br
            | #{publication.year}
        .publication-card(
          data-ks-editable=editable(user, {list: 'Publication', id: publication.id})
        )
          img(
            src= publication._.cover.limit(640, 640),
            style="width:100%",
            caption= publication.caption(lang)
          )
      

