mixin publication(publication)
  if publication
    .publication-card-wrapper
      if publication.cover
        div(style='flex: 1; max-width: 33%; overflow:hidden;'): .publication-card(
          data-ks-editable=editable(user, {list: 'Publication', id: publication.id}),
          onclick= "window.location.href='/publication/" + publication.slug + "'"
        )
          img(
            src= publication._.cover.limit(640, 640),
            caption= publication.caption(lang)
          )
        .middle(onclick= "window.location.href='/publication/" + publication.slug + "'"): .content
          h3= publication.title[lang] || publication.title.english
          p
            if (publication.author && publication.author.english)
              span #{publication.author[lang] || publication.author.english}
              br
            if (publication.year)
              span #{publication.year}
      

//- mixin publication(publication)
//-   if publication
//-     .series
//-       .selected-work.grid-item.huge
//-         .artwork(
//-         )
//-           if publication.cover.exists
//-             img.modal-image(
//-               src= publication._.cover.limit(2048, 2048),
//-               caption= publication.caption(lang)
//-             )
//-           .middle: p!= publication.caption(lang)